body {
    background-image: url("https://res.cloudinary.com/duzykfess/image/upload/v1614766663/General/background_bjcht3.jpg");
    background-repeat: repeat;
    background-size: 50%;
}

.turquoise {
    color: rgba(44, 210, 240, 0.596);
}

h1.size {
    font-size: 50px;
    font-weight: bold;
    font-style: italic; 
}

.size {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

caption {
    caption-side: top;
}

table {
    margin: auto;
    font-size: 30px;
    color: rgba(44, 210, 240, 0.596);
    width: 600px;
    text-align: left;
}

table{
    text-align: center;
}

table a{
    color: white;
    text-decoration: none;
}

div.main {
    width: 1200px;
    margin: auto;
}

div.logo {
    width: inherit;	
    height: 120px;
    text-align: center;
}

.largeCursive{
    font-family: cursive, Arial, Helvetica;
    font-size: 70px;
    font-weight: bolder;
    color: rgba(44, 210, 240, 0.596);
    text-shadow: 5px 5px 7px#0c1992;
    vertical-align: top;
}

#borderedImage {
    border-radius: 10px;
}

div.menu {
    width: 150px;
    float: left;
    margin-top: 10px;
    position: fixed;
}

ul.nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 35px;
    list-style-type: disc;
    line-height: 70px;
}

body.home a.homeLink, body.about a.aboutLink, body.users a.usersLink, body.players a.playersLink, body.teams a.teamsLink {
    color: rgba(44, 210, 240, 0.596);
}

div.content {
    width: 1000px;
    float: left;
    margin-top: 10px;
    margin-left: 300px;
    text-align: center;
}

div.pagesNav {
    font-size: 50px;
    color: rgba(44, 210, 240, 0.596);
}

button.nav {
    font-size: 50px;
}

div.photo {
    width: inherit;
    height: 250px;
    margin-top: 10px;
    text-align: center;
}

img.imgLeft {
    float: left;
    margin-left: 15%;
}

div.description {
    width: inherit;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    color: white;
}

.button {
    background-color: #19262e;
    border: 2px solid #000000;
    border-radius: 10px;
    color: white;
    padding: 12px 10px;
    margin-left: 10px;
}

input {
    background-color: #19262e;
    border: 2px solid #000000;
    border-radius: 10px;
    color: white;
    padding: 12px 10px;
    margin-left: 10px;
}

div.newPhoto {
    width: inherit - 200px;
    margin-left: 200px;
    text-align: left;
}

div.creationForm {
    width: inherit - 150px;
    margin-left: 150px;
    text-align: left;
}

.rightSide {
    width: inherit - 150px;
    margin-left: 150px;
    text-align: right;
}

.leftSide {
    width: inherit - 150px;
    margin-left: 150px;
    text-align: left;
}

.section {
    margin-top: 50px;
    width: inherit;
}

a:link.link {
    text-decoration: none;
}

.background {
    background-image: url("https://res.cloudinary.com/duzykfess/image/upload/v1614766663/General/background_bjcht3.jpg");
}