body {
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-size: 50%;
}

.turquoise {
    color: rgba(44, 210, 240, 0.596);
}

h1.size {
    font-size: 50px;
    font-weight: bold;
    font-style: italic; 
}

.size {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button.btn {
    background-color: #19262e;
    border: 2px solid #000000;
    border-radius: 10px;
    color: white;
    padding: 15px 15px;
    margin-right: 100px;
    margin-left: 100px;
}

caption {
    caption-side: top;
}

table {
    margin: auto;
    font-size: 30px;
    color: rgba(44, 210, 240, 0.596);
    width: 600px;
    text-align: left;
}

table td {
    text-align: left;
}

table a{
    color: rgb(255, 255, 255);
}

div.main {
    width: 1200px;
    margin: auto;
}

div.logo {
    width: inherit;	
    height: 120px;
    text-align: center;
}

.largeCursive{
    font-family: cursive, Arial, Helvetica;
    font-size: 70px;
    font-weight: bolder;
    color: rgba(44, 210, 240, 0.596);
    text-shadow: 5px 5px 7px#0c1992;
    vertical-align: top;
}

#borderedImage {
    border-radius: 10px;
}

div.menu {
    width: 150px;
    float: left;
    margin-top: 10px;
    position: fixed;
}

ul.nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 35px;
    list-style-type: disc;
    line-height: 70px;
}

a:hover {
    color: rgb(42, 42, 134);
}

body.home a.homeLink, body.about a.aboutLink, body.users a.usersLink, body.players a.playersLink {
    color: rgba(44, 210, 240, 0.596);
}

div.content {
    width: 1000px;
    float: left;
    margin-top: 10px;
    margin-left: 300px;
    text-align: center;
}

div.pagesNav {
    font-size: 50px;
    color: rgba(44, 210, 240, 0.596);
}

button.nav {
    font-size: 50px;
}

div.userPhoto {
    width: inherit;
    height: 250px;
    margin-top: 10px;
    text-align: center;
}

img.imgLeft {
    float: left;
    margin-left: 50px;
}

div.biography {
    width: inherit;
    height: 200px;
    border: 2px solid rgba(44, 210, 240, 0.596);
    border-radius: 30px;
    border-style: dashed;
    overflow: scroll;
    color: white;
}

button.newPlayer {
    background-color: #19262e;
    border: 2px solid #000000;
    border-radius: 10px;
    color: white;
    padding: 12px 10px;
    margin-left: 10px;
}

input[type=submit] {
    width: 80px;  
    height: 36px;
    background-color: white;
    border-color: #000000;
}

input[type=text] {
    height: 30px;
}

input[type=file] {
    color: white;
    cursor: crosshair;
}

div.newPhoto {
    width: inherit - 200px;
    margin-left: 200px;
    text-align: left;
}

div.playerForm {
    width: inherit - 150px;
    margin-left: 150px;
    text-align: left;
}

.rightSide {
    width: inherit - 150px;
    margin-left: 150px;
    text-align: right;
}

.leftSide {
    width: inherit - 150px;
    margin-left: 150px;
    text-align: left;
}